@model LojaVirtualMVC.Entidade.Produto

<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <p>@Model.Descricao</p>
    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
</div>